<section data-ng-controller="LinksController" data-ng-init="findOne()">
    <span>{{link.created | date:'medium'}}</span> /
    <span>{{link.user.name}}</span>
    <h2>{{link.url}}</h2>
    <div data-ng-show="global.user._id == link.user._id">
        <a class="btn" href="/#!/links/{{link._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{link.content}}</div>
</section>
